@import "../app/variables";

.cell {
  width: $chessCageSize;
  height: $chessCageSize;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: $chessFigureSize;
    height: $chessFigureSize;
    position: relative;
  }
}